.navbar {
    background-color: rgb(30, 194, 180);
    overflow: hidden;
}

.navbar a {
    float: left;
    display: block;
    color: #f2f2f2;
    text-align: center;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 20px; /* Adjust the font size as per your preference */
}

.logo {
    font-weight: bold;
    font-size: 24px;
    padding: 5px;
    margin-right: auto;
    padding-left: 10px; /* Add the desired left padding value */
    background-image: url("../../../images/logomov.png");
    
}

@media screen and (max-width: 600px) {
    .navbar a:not(:first-child) {display: none;}
    .navbar a.icon {
        float: right;
        display: block;
    }
}






